<template>
  <a-button title="Add New User" size="medium" type="primary" @click="showModal">Add New</a-button>
  <div>    
    <a-modal 
      v-model:open="visible" 
      title="Add New User" 
      ok-text="Delete" 
      centered 
      :footer="null"
      width="700px"
    >
      <h3>Fill up all required fields.</h3>

      <div class="add-container">
        <!-- Form BEGIN -->
    
          <a-form
            ref="formRef"
            :model="storeUserFormRequest"
            name="basic"
            layout="vertical" 
            autocomplete="off"
            @finish="onFinish"
            @finishFailed="onFinishFailed"       
            >
            <a-row :gutter="24">
              <a-col :span="12">
                <a-form-item
                  label="First Name"
                  name="first_name"
                  :rules="[{ required: true, message: 'Please input the user first name.' }]">
                  <a-input v-model:value="storeUserFormRequest.first_name" id="first_name" />
                </a-form-item>            
              </a-col>    
         
              <a-col :span="12">
                <a-form-item
                  label="Last Name"
                  name="last_name"
                  :rules="[{ required: true, message: 'Please input the user last name.' }]">
                  <a-input v-model:value="storeUserFormRequest.last_name" id="last_name" />
                </a-form-item>            
              </a-col>                       
            </a-row>           
            <a-row :gutter="24" class="mt-3">
              <a-col :span="12">
                <a-form-item
                  label="Email"
                  name="email"
                  :rules="[{ required: true, message: 'Please input the email' },  { type: 'email', message: systemMessage.emailShouldBeValid }]">
                  <a-input v-model:value="storeUserFormRequest.email" id="email"/>
                </a-form-item>           
              </a-col>
              <a-col :span="12">
                <a-form-item
                  label="Phone"
                  name="phone"
                  :rules="[{ required: false, message: 'Please input the phone' }]">
                  <a-input v-model:value="storeUserFormRequest.phone" id="phone" placeholder="+6309210539188"/>
                </a-form-item>           
              </a-col>
            </a-row>            
              

        <a-row :gutter="24" class="mt-3">
          <a-col :span="24" class="text-right">
            <a-space>
              <a-button key="back" @click="handleCancel">Cancel</a-button>
              <a-button key="submit" type="primary" html-type="submit" :loading="loading" :disabled="loading">Save</a-button>
            </a-space>
          </a-col>
        </a-row>  
         
          </a-form> 

        <!-- Form END -->

      </div>
    </a-modal>


  </div>
</template>
<script setup>

import { ref } from 'vue';
import { storeToRefs } from 'pinia'
import { useUserStore } from "@/stores/userStore";
import { systemMessages } from '@/constants';

//Instantiate first the store
const userStore = useUserStore()
const systemMessage = systemMessages;

//Then you can destructure using storeToRefs to expose its 
//properties and able to use it in the components.
const { storeUserFormRequest } = storeToRefs(userStore);

//you can destructure its functions without using storeToRefs
//and use it in the components.
const { storeUser} = userStore;

//variables
const visible = ref(false)
const formRef = ref();

const countryOptionListSource = ref([
  {value: 236,
   label: 'United States of America'
  },
  {value: 176,
   label: 'Philippines'
  },
])

const status = ref([
  {value: 1,
   label: 'Active'
  },
  {value: 0,
   label: 'Inactive'
  },
])


const showModal = () => {
  //your code here..
  visible.value = true

}

const handleCancel = () => {
  resetForm()
  visible.value = false
}

const resetForm = () => {
 formRef.value.resetFields();
};


const onFinish = values => {
      console.log('on finish Success:', values);
      //call the store api 
      storeUser()
      //reset the form
      resetForm()      
      //hide the modal form
      visible.value = false;
      
    };

const onFinishFailed = ({ errorFields }) => {
  //console.log(errorFields)   
  if (errorFields.length > 0) {
       //get the very first error field
        const errorField = errorFields[0].name;
       //instantiate that field as html element
        const errorElement = document.getElementById(`${errorField}`);       
       
        //scroll to that element
       if (errorElement) {
          errorElement.scrollIntoView({
            behavior: 'smooth',
            block: 'start',
          });
          errorElement.focus();
        }
      }
      
};

const filterOption = (input, option) => {
      return option.label.toLowerCase().indexOf(input.toLowerCase()) >= 0;
    };
 

</script>

<style scoped>
.ant-form-item {
  margin-bottom: 0;
}

.ant-picker {
  width: 100%;
}



.custom-add>.anticon {
  display: flex;
  justify-content: center;
}

.custom-add>.btn-text {
  display: none;
}

:deep(.ant-form-item-control-input-content) {
  display: inline-flex;
}
</style>