<template>
  <div class="new-title-container">
    <a-row :gutter="16">
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <a-form class="custom-filter">
          <a-form-item name="allcolumnfilter">
            <a-input class="single-input" placeholder="All column search" type="text" v-model:value="viewUserFormRequest.filter_allcolumn"  @change="showUserList()" @keyup.enter="showUserList()">
              <template #prefix>
                <FilterOutlined class="site-form-item-icon" />
              </template>
            </a-input>
          </a-form-item>
        </a-form>
      </a-col>
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <div class="action-container">
          <a-space>
            <AddData />
            <a-button title="Clear Sorts" size="medium" type="primary" @click="clearSorts(true)">CS</a-button>
            <a-button title="Clear Filters" size="medium" type="primary" @click="clearFilters()">CF</a-button>
            <!-- <ImportData /> -->
            <ExportData />
          </a-space>
        </div>
      </a-col>
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <div class="pagination">
          <div class="d-inline-block">
            <ul class="pagination-list lst-none p-0 mb-0 d-inline-flex w-100">
              <li title="First Page" class="ant-pagination-prev mr-1">
                <button class="ant-pagination-item-link" type="button" @click="updateUserPage(0)" :disabled="viewUserFormRequestLoading">
                  <StepBackwardFilled />
                </button>
              </li>
              <li title="Previous Page" class="ant-pagination-prev mr-1">
                <button class="ant-pagination-item-link" type="button" @click="updateUserPage(-1)" :disabled="viewUserFormRequestLoading">
                  <CaretLeftFilled />
                </button>
              </li>
              <li title="Current Page" class="d-inline-flex mr-1">
                <a-input-number class="d-inline-block text-center page-number" placeholder="page" v-model:value="viewUserFormRequest.page"  @keypress.enter="listUser()" @change="listUser()" />
              </li>
              <li title="Next Page" class="ant-pagination-next mr-1">
                <button class="ant-pagination-item-link" type="button" @click="updateUserPage(1)" :disabled="viewUserFormRequestLoading" >
                  <CaretRightFilled />
                </button>
              </li>
              
              <li title="Last Page" class="ant-pagination-next mr-1">
                <button class="ant-pagination-item-link" type="button" @click="updateUserPage(userDataSourceMeta.last_page)" :disabled="!userPageButtonEnabled">
                  <StepForwardFilled />
                </button>
              </li>

              <a-select ref="select" v-model:value="viewUserFormRequest.per_page" :options="pagination.pageSizeOptions"
                class="pagenate-selection-end" @select="showUserList()">
              </a-select>

            </ul>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>

  <div class="view-container"> <!-- START List Container -->

    <div class="user-filter">
      <a-row :gutter="24" class="mb-2">
        <a-col :lg="12" :md="12" :sm="24" :xs="24" :span="12" class="text-left">
          <a-checkbox v-model:checked="viewUserFormRequest.filter_activatewildcard" >Wildcard search</a-checkbox> 
        </a-col>
        <a-col :lg="12" :md="12" :sm="24" :xs="24" :span="12" class="text-right">
          <span class="text-black fw-bold">
            Showing {{(userDataSourceMeta.from) == null ? '0': userDataSourceMeta.from.toLocaleString()}} 
            to {{(userDataSourceMeta.to) == null ? '0': userDataSourceMeta.to.toLocaleString()}} 
            of {{(userDataSourceMeta.total) == null ? '(counting..)' : userDataSourceMeta.total.toLocaleString()}} results
          </span>
        </a-col>
      </a-row>
    </div>
   <!-- Note: In  <a-table>, the scroll x value should be wide enough to 
   show all columns else some columns may not show -->
    <a-table 
    sticky 
    :columns="columns" 
    :data-source="userDataSource" 
    @resizeColumn="handleResizeColumn" 
    :scroll="{ x: 1200 }"
    :row-class-name="(_record, index) => (index % 2 === 1 ? 'table-striped' : null)" 
    :pagination="false"
    :loading="viewUserFormRequestLoading ==1 ? loadingConfig: 0" 
    size="small"
    >
      <template #headerCell="{ column }">
        <template v-if="column.key === 'id'">
          <div class="ant-table-column-sorters">
            <span class="ant-table-column-title">{{ column.title }}<br>
              <input class="single-input" type="text" v-model="viewUserFormRequest.filter_id" @change="showUserList()" @keyup.enter="showUserList()"/></span>
            <span class="ant-table-column-sorter ant-table-column-sorter-full">
              <span class="ant-table-column-sorter-inner" @click="changeColumnSort('sort_id')">
                <CaretUpOutlined class="ant-table-column-sorter-up" :class="viewUserFormRequest.sort_id == 1 ? 'active' : 'inactive'" />
                <CaretDownOutlined class="ant-table-column-sorter-down" :class="viewUserFormRequest.sort_id == 2 ? 'active' : 'inactive'" />                
              </span>
            </span>
          </div>
        </template>
        <template v-if="column.key === 'first_name'">
          <div class="ant-table-column-sorters">
            <span class="ant-table-column-title">{{ column.title }}<br>
              <input class="single-input" type="text" v-model="viewUserFormRequest.filter_first_name" @change="showUserList()" @keyup.enter="showUserList()"/></span>
            <span class="ant-table-column-sorter ant-table-column-sorter-full">
              <span class="ant-table-column-sorter-inner" @click="changeColumnSort('sort_first_name')">
                <CaretUpOutlined class="ant-table-column-sorter-up" :class="viewUserFormRequest.sort_first_name == 1 ? 'active' : 'inactive'" />
                <CaretDownOutlined class="ant-table-column-sorter-down" :class="viewUserFormRequest.sort_first_name == 2 ? 'active' : 'inactive'" />                
              </span>
            </span>
          </div>
        </template>          
        <template v-if="column.key === 'last_name'">
          <div class="ant-table-column-sorters">
            <span class="ant-table-column-title">{{ column.title }}<br>
              <input class="single-input" type="text" v-model="viewUserFormRequest.filter_last_name" @change="showUserList()" @keyup.enter="showUserList()"/></span>
            <span class="ant-table-column-sorter ant-table-column-sorter-full">
              <span class="ant-table-column-sorter-inner" @click="changeColumnSort('sort_last_name')">
                <CaretUpOutlined class="ant-table-column-sorter-up" :class="viewUserFormRequest.sort_last_name == 1 ? 'active' : 'inactive'" />
                <CaretDownOutlined class="ant-table-column-sorter-down" :class="viewUserFormRequest.sort_last_name == 2 ? 'active' : 'inactive'" />                
              </span>
            </span>
          </div>
        </template>       
        <template v-if="column.key === 'email'">
          <div class="ant-table-column-sorters">
            <span class="ant-table-column-title">{{ column.title }}<br>
              <input class="single-input" type="text" v-model="viewUserFormRequest.filter_email" @change="showUserList()" @keyup.enter="showUserList()"/></span>
            <span class="ant-table-column-sorter ant-table-column-sorter-full">
              <span class="ant-table-column-sorter-inner" @click="changeColumnSort('sort_email')">
                <CaretUpOutlined class="ant-table-column-sorter-up" :class="viewUserFormRequest.sort_email == 1 ? 'active' : 'inactive'" />
                <CaretDownOutlined class="ant-table-column-sorter-down" :class="viewUserFormRequest.sort_email == 2 ? 'active' : 'inactive'" />                
              </span>
            </span>
          </div>
        </template>      
             
        <template v-if="column.key === 'phone'">
          <div class="ant-table-column-sorters">
            <span class="ant-table-column-title">{{ column.title }}<br>
              <input class="single-input" type="text" v-model="viewUserFormRequest.filter_phone" @change="showUserList()" @keyup.enter="showUserList()"/></span>
            <span class="ant-table-column-sorter ant-table-column-sorter-full">
              <span class="ant-table-column-sorter-inner" @click="changeColumnSort('sort_phone')">
                <CaretUpOutlined class="ant-table-column-sorter-up" :class="viewUserFormRequest.sort_phone == 1 ? 'active' : 'inactive'" />
                <CaretDownOutlined class="ant-table-column-sorter-down" :class="viewUserFormRequest.sort_phone == 2 ? 'active' : 'inactive'" />                
              </span>
            </span>
          </div>
        </template>   
        
        <template v-if="column.key === 'created_at'">
          <div class="ant-table-column-sorters">
            <span class="ant-table-column-title">{{ column.title }}<br>
              <input class="single-input" type="text" v-model="viewUserFormRequest.filter_created_at" @change="showUserList()" @keyup.enter="showUserList()"/></span>
            <span class="ant-table-column-sorter ant-table-column-sorter-full">
              <span class="ant-table-column-sorter-inner" @click="changeColumnSort('sort_created_at')">
                <CaretUpOutlined class="ant-table-column-sorter-up" :class="viewUserFormRequest.sort_created_at == 1 ? 'active' : 'inactive'" />
                <CaretDownOutlined class="ant-table-column-sorter-down" :class="viewUserFormRequest.sort_created_at == 2 ? 'active' : 'inactive'" />                
              </span>
            </span>
          </div>
        </template>

        <template v-if="column.key === 'action'">
          <span class="ant-table-column-title">Action<br><br>
          </span>
        </template>

      </template>
      <template #bodyCell="{ column, record, text }">
        <template v-if="column.dataIndex === 'role'">
          <a-tag color="green" v-if="record.role">{{ text }}</a-tag>
        </template>
        <template v-if="column.dataIndex === 'action'">
          <div class="d-flex">
            <a-space>
              <EditData :record ="record"/>
              <DeleteData :id="record.id" :first_name="record.first_name" :last_name="record.last_name"/>
            </a-space>
          </div>
        </template>
      </template>
    </a-table>

  </div> <!-- END List Container -->
</template>

<script setup>
import {
  FilterOutlined, CaretUpOutlined, CaretDownOutlined,
  StepBackwardFilled, StepForwardFilled, CaretLeftFilled, CaretRightFilled,
} from "@ant-design/icons-vue";

import { ref, onMounted, computed } from 'vue';
import DeleteData from "../../components/users/DeleteData.vue";
import EditData from "../../components/users/EditData.vue";
import AddData from "../../components/users/AddData.vue";
import ExportData from "../../components/users/ExportData.vue";
import { useUserStore } from "@/stores/userStore";
import { storeToRefs } from 'pinia'
import { optionLists, paginations } from '@/constants';
import { useCustomTableLoading } from '@/composables/useCustomTableLoading';

const optionList = optionLists
const pagination = paginations

//Instantiate first the store
const userStore = useUserStore()

//Then you can destructure using storeToRefs to expose its 
//properties and able to use it in the components.
const { 
  viewUserFormRequestLoading,
  userDataSource, 
  userDataSourceMeta,
  viewUserFormRequest,  
  userPageButtonEnabled,
  currentSortedColumn,
  } = storeToRefs(userStore);

//you can destructure its functions without using storeToRefs
//and use it in the components.
  const { 
  listUser,  
  } = userStore;

  let typingTimeout = null;  

  const loadingConfig = useCustomTableLoading();

const columns = ref([
{
    key: 'id',
    title: 'User ID',
    dataIndex: 'id',
    width: '130px',
    resizable: true,
    ellipsis: true,
  },
  {
    key: 'first_name',
    title: 'First Name',
    dataIndex: 'first_name',
    width: '200px',
    resizable: true,
    ellipsis: true,
  },
  {
    key: 'last_name',
    title: 'Last Name',
    dataIndex: 'last_name',
    width: '200px',
    resizable: true,
    ellipsis: true,
  }, 
  {
    key: 'email',
    title: 'Email',
    dataIndex: 'email',
    width: '250px',
    resizable: true,
    ellipsis: true,
  },  
  {
    key: 'phone',
    title: 'Phone',
    dataIndex: 'phone',
    width: '150px',
    resizable: true,
    ellipsis: true,
  },  
  {
    key: 'created_at',
    title: 'Created at',
    dataIndex: 'created_at',
    resizable: true,
    ellipsis: true,
  },
  {
    key: 'action',
    title: 'Action',
    dataIndex: 'action',
    fixed: 'right',
    width: '60px'
  },
]);

const changeColumnSort = (column_to_sort) => {

if (currentSortedColumn.value == column_to_sort) {
  columnSort(column_to_sort)
} else if (currentSortedColumn.value == null) {
  currentSortedColumn.value = column_to_sort
  columnSort(column_to_sort)
} else {
  clearSorts()
  currentSortedColumn.value=null
  columnSort(column_to_sort)
}

viewUserFormRequest.value['page'] = 1
listUser()
currentSortedColumn.value = column_to_sort;
}

const columnSort = (column_to_sort) => {
  viewUserFormRequest.value[column_to_sort] = viewUserFormRequest.value[column_to_sort] + 1
  if (viewUserFormRequest.value[column_to_sort] == 3) {
    viewUserFormRequest.value[column_to_sort] = 0
  }
}

const clearSorts = (refresh) => { 
  //clear all sorts
  currentSortedColumn.value=null
  for (const key in userStore.viewUserFormRequest) {
    if (key.startsWith('sort_')) {
      userStore.viewUserFormRequest[key] = 0;
    }
  }
    viewUserFormRequest.value['page'] = 1 
    if (refresh) {
      listUser()
  }    
}

const clearFilters = () => { 
  //clear all sorts
  for (const key in userStore.viewUserFormRequest) {
    if (key.startsWith('filter_')) {
      userStore.viewUserFormRequest[key] = null;
    }
  }
  viewUserFormRequest.value['page'] = 1
  listUser() 
}

const updateUserPage = (value) => {   
    viewUserFormRequest.value['page'] = viewUserFormRequest.value['page'] + value
    if(value>1){
      viewUserFormRequest.value['page'] = value
    }
    if(value==0){
      viewUserFormRequest.value['page'] = 1
    }
    if(viewUserFormRequest.value['page'] <= 1)
    {
      viewUserFormRequest.value['page'] =1
    }
     if(viewUserFormRequest.value['page'] >= userDataSourceMeta.value['last_page'] && userDataSourceMeta.value['last_page']!=null ){
      viewUserFormRequest.value['page'] = userDataSourceMeta.value['last_page']
     }
    listUser()   
  }


  const showUserList = () => { 
  //reset page numbers
  clearTimeout(typingTimeout);
    typingTimeout = setTimeout(() => {
      // Function to execute after the user stops typing
      //reset page numbers
      viewUserFormRequest.value['page'] = 1
      listUser()     
      console.log('User stopped typing');
    }, 500); // Adjust the timeout value as per your preference

}

const handleResizeColumn = (w, col) => {
  col.width = w;
  console.log(col.width);    
};

onMounted(() => {
  listUser()  
})

</script>

<style scoped>

.active{
  color: #ffffff!important;
  font-size:15px;
}
.inactive{
  color:rgb(148, 146, 146)!important;
  font-size:13px;
}
.view-container {
  padding: 24px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.new-title-container {
  padding: 10px 24px;
  background: #22252a;
}

.new-title-container h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 700;
}

.new-title-container :deep(.ant-row) {
  align-items: center;
}

.custom-filter :deep(.ant-form-item) {
  margin-bottom: 0;
}

.pagenate-selection-end {
  width: 120px;
  text-align: center;
}

.action-container {
  display: flex;
  flex-wrap: wrap;
}

.action-container div {
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.single-input {
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
}

.client-action {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

:deep(.table-striped) td {
  background-color: #ebebf0ae;
}

:deep(.ant-table-small .ant-table-thead) > tr > th {
    background-color: #0369a7;   
}
.ant-table-column-title{
  color: white
}

.ant-table-column-title .single-input{
  color: black;
}

:deep(.ant-table-cell-row-hover){
  background-color: #a8d8f6!important;   
}

:deep(.ant-spin-text) {
  margin-top:5px;
  margin-left:-10px;
}

:deep(:where(.css-dev-only-do-not-override-hkh161)).ant-table-wrapper .ant-table-resize-handle-line {
  background-color: white!important; /* Change the background color to white */
}

@media screen and (max-width: 767px) {
  .pagination {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .view-container {
    padding: 15px;
  }

  .pagenate-selection-end {
    max-width: 95px;
    text-align: center;
  }

  .action-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .action-container div {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  ul.pagination-list {
    font-size: 11px;
  }

  :deep(.ant-input-number) {
    width: 35px;
  }

  :deep(.ant-input-number-input) {
    padding: 0 5px;
  }

  :deep(.ant-pagination-prev),
  :deep(.ant-pagination-next),
  :deep(.ant-pagination-jump-prev),
  :deep(.ant-pagination-jump-next) {
    min-width: 35px;
  }
}
</style>