<template>
  <div>
    <DeleteFilled title="Delete" @click="showModal" style="font-size: large; color: red" />
    <a-modal 
      v-model:open="visible" 
      title="Confirmation Needed" 
      ok-text="Delete" 
      centered 
      cancel-text="Cancel"
      @ok="handleOk"
    >
      <h3>Are you sure you want to delete this record?</h3>
      <div class="delete-container">
        <p><strong>ID: {{ props.id }}<br>
            First Name:  {{ props.first_name }} <br/>
            Last Name:   {{ props.last_name }}  <br/>
            </strong></p>
       <br/>
      </div>

      <template #footer>
        <a-button key="back" @click="handleCancel">Cancel</a-button>
        <a-button key="submit" type="primary" html-type="submit" @click="submit">
          Yes Delete
        </a-button>
      </template>
    </a-modal>
  </div>
</template>

<script setup>
import { DeleteFilled } from "@ant-design/icons-vue";
import { ref } from 'vue';
import { useUserStore } from "@/stores/userStore";

const props = defineProps({
  first_name: String,
  last_name: String,  
  id: {
    type: Number,
    default: 0,
  },
});

const visible = ref(false)

//Instantiate first the store
const UserStore = useUserStore()

const { deleteUser } = UserStore;

const showModal = () => {
  //your code here..
  visible.value = true

}

const handleCancel = () => {
  visible.value = false
}

const handleOk = () => {
  visible.value = false
}

const submit = () => {
  //call the api
  deleteUser(props.id)
 
  //then reset values
  visible.value = false
}

</script>

<style scoped>
h3 {
  text-align: center;
  color: #ff0000;
  margin-bottom: 20px;
}

.delete-container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.delete-container input {
  margin: 0 0 15px;
}
</style>