<template>
  <div class="export-dropdown-wrap">
    <a-dropdown :trigger="['click']">
      <template #overlay>
        <a-menu @click="exportToFile">
          <a-menu-item key="xlsx">
            <FileExcelOutlined />
            Excel File
          </a-menu-item>
          <a-menu-item key="csv">
            <FileOutlined />
            CSV File
          </a-menu-item>
        </a-menu>
      </template>
      <a-button :loading="taskExportLoading">
        <ExportOutlined />       
      </a-button>
    </a-dropdown>
  </div>
</template>

<script setup>

import { ExportOutlined, FileExcelOutlined, FileOutlined} from "@ant-design/icons-vue";
import { useTaskStore } from "@/stores/taskStore";
import { storeToRefs } from 'pinia'

//Instantiate first the store
const taskStore = useTaskStore()

//Then you can destructure using storeToRefs to expose its 
//properties and able to use it in the components.
const {
  taskExportLoading,
} = storeToRefs(taskStore);

//you can destructure its functions without using storeToRefs
//and use it in the components.
const {
  exportToFile,
} = taskStore;

</script>

<style scoped>
.export-dropdown-wrap {
  margin-right: 0 !important;
}
</style>