<template>
  <AuthLayout>
    <div id="parent" class="login-form">
      <div class="login-container">
        <a-row :gutter="0">
          <a-col :lg="24" :md="24" :sm="24" :xs="24" :span="24" class="d-flex">
            <a-card title="" :bordered="false" id="child2">
              <div class="text-center">
                <h1>{{ app_name }}</h1>
              </div>
            </a-card>
          </a-col>
        </a-row>
        <a-row :gutter="0">
          <a-col :lg="24" :md="24" :sm="24" :xs="24" :span="24" class="d-flex">
            <a-card title="Reset Your Password Here" :bordered="false" id="child" :headStyle="cardHeadStyle">
              <a-form :model="resetPasswordFormRequest" name="basic" :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }"
                autocomplete="off" @finish="onFinish" @finishFailed="onFinishFailed">

                <a-form-item label="Email" name="email"
                  :rules="[{ required: true, message: systemMessage.emailIsRequired }, { type: 'email', message: systemMessage.emailShouldBeValid }]">
                  <a-input v-model:value="resetPasswordFormRequest.email" />
                </a-form-item>

                <a-form-item label="Reset Code" name="password_reset_code"
                  :rules="[{ required: true, message: systemMessage.resetCodeIsRequired }]">
                  <a-input v-model:value="resetPasswordFormRequest.password_reset_code" />
                </a-form-item>

                <a-form-item label="New Password" name="new_password" :rules="passwordRules">
                  <a-input-password v-model:value="resetPasswordFormRequest.new_password" type="password" />
                </a-form-item>

                <a-form-item label="Confirm Password" name="new_password_confirmation" :rules="confirmPasswordRules">
                  <a-input-password v-model:value="resetPasswordFormRequest.new_password_confirmation" type="password" />
                </a-form-item>
                <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
                  <a-button type="primary" html-type="submit" :loading="resetPasswordFormRequestLoading" :disabled="loading"
                    @click="submit">Submit</a-button>
                </a-form-item>
              </a-form>
            </a-card>
          </a-col>
        </a-row>
      </div>
    </div>
  </AuthLayout>
</template>

<script setup>

import { ref } from 'vue';
import { storeToRefs } from 'pinia'
// import { message } from 'ant-design-vue';
import AuthLayout from "../layouts/AuthLayout.vue";
//import { useRouter } from 'vue-router';
import { systemMessages } from '@/constants';

import { useAuthStore } from "@/stores/authStore";

//Data *******************************************//
const cardHeadStyle =ref({
        borderRadius: '50px',    
        color: '#fff',
        'background-color':'#22252a',
        border:"1px",
      })

//instance objects  *****************************//

const authStore = useAuthStore()

const { resetPasswordFormRequest, resetPasswordFormRequestLoading } = storeToRefs(authStore) 

const { resetPassword } = authStore

const app_name = ref(import.meta.env.VITE_APP_NAME)

const systemMessage = systemMessages;

//Methods  **************************************//
const onFinish = (values) => {
  console.log('Success:', values);
  resetPassword()
};

const onFinishFailed = (errorInfo) => {
  console.log('Failed:', errorInfo);
};

let validateConfirmPassword = async (_rule, value) => {
  if (value !== resetPasswordFormRequest.value['new_password']) {
    return Promise.reject("Password and Confirm password do not matcTh!");
  } else {
    return Promise.resolve();
  }
};

const passwordRules = ref([
  { required: true, message: 'Please enter a password' },
  { min: 8, message: 'Password must be at least 8 characters long' },
]);

const confirmPasswordRules = ref([
  { required: true, message: 'Please confirm your password' },
  { validator: validateConfirmPassword, trigger: 'change' },
]);

</script>

<style scoped>
.login-form #child2 .ant-card-body {
  display: table-cell;
  vertical-align: middle;
}
</style>

<style scoped>
.login-container {
  /* background: #f6f5f5;  */
  padding: 30px;
  max-width: 700px;
  width: 100%;
}

#parent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

#child {
  /* height: 45vh; */
  position: relative;
  background: white;
  padding: 2rem;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  width: 100%;
}

#child2 {
  /* height: 45vh; */
  position: relative;
  background: rgb(41, 41, 44);
  width: 100%;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  display: table;
}

#child2 :deep(.ant-card-body) {
  padding: 15px;
}

h1 {
  color: white;
  margin: 0;
}

:deep(.ant-card-head-title) {
  font-size: 24px;
}

.register-btn {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  :deep(.ant-row) {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 959px) {
  #parent {
    height: auto;
    max-width: 500px;
    margin: 25px auto;
    width: 100%;
  }

  .w-100 {
    width: 100%;
  }

  #child2 {
    width: 100%;
  }

  #child {
    padding: 1rem;
  }
}
</style>