<template>
  <AuthLayout>
    <div id="parent" class="login-form">
      <div class="login-container">
        <a-row :gutter="0">
          <a-col :lg="24" :md="24" :sm="24" :xs="24" :span="24" class="d-flex">
            <a-card title="" :bordered="false" id="child2">
              <div class="text-center">
                <h1>{{ app_name }}</h1>
              </div>
            </a-card>
          </a-col>
        </a-row>
      
            <a-card title="Sign Up - It's FREE!" :bordered="false" id="child" :headStyle="cardHeadStyle">
              <h2>Fill up all required fields.</h2><br/>
              <a-form :model="registerAccountFormRequest" name="basic" :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }"
                autocomplete="off" @finish="onFinish" @finishFailed="onFinishFailed">

                <a-form-item label="First Name" name="first_name"
                  :rules="[{ required: true, message: systemMessage.firstNameIsRequired }]">
                  <a-input v-model:value="registerAccountFormRequest.first_name" id="first_name"/>
                </a-form-item>

                <a-form-item label="Last Name" name="last_name"
                  :rules="[{ required: true, message: systemMessage.lastNameIsRequired }]">
                  <a-input v-model:value="registerAccountFormRequest.last_name" id="last_name"/>
                </a-form-item>

                <a-form-item label="Email" name="email"
                  :rules="[{ required: true, message: systemMessage.emailIsRequired }, { type: 'email', message: systemMessage.emailShouldBeValid }]">
                  <a-input v-model:value="registerAccountFormRequest.email" id="email" />
                </a-form-item>

                <a-form-item label="Address" name="address1"
                  :rules="[{ required: true, message: systemMessage.addressIsRequired }]">
                  <a-input v-model:value="registerAccountFormRequest.address1" id="address1"/>
                </a-form-item>

                <a-form-item label="City" name="city"
                  :rules="[{ required: true, message: systemMessage.cityIsRequired }]">
                  <a-input v-model:value="registerAccountFormRequest.city" id="city" />
                </a-form-item>

                <a-form-item label="Zip/Postal Code" name="zip_postal_code"
                  :rules="[{ required: true, message: systemMessage.zipPostalCodeIsRequired }]">
                  <a-input v-model:value="registerAccountFormRequest.zip_postal_code" id="zip_postal_code" />
                </a-form-item>

                <a-form-item label="State/Region/Province" name="subnational_entity"
                  :rules="[{ required: true, message: systemMessage.subnationalEntiryIsRequired }]">
                  <a-input v-model:value="registerAccountFormRequest.subnational_entity" id="subnational_entity" />
                </a-form-item>

                <a-form-item label="Country" name="country_id"
                  :rules="[{ required: true, message: systemMessage.countryIsRequired }]">
                  <a-select
                  show-search 
                  :options="countryOptionList" 
                  v-model:value="registerAccountFormRequest.country_id" 
                  id="country_id"
                  ></a-select>
                </a-form-item>

                <a-form-item label="Password" name="password" :rules="passwordRules">
                  <a-input-password v-model:value="registerAccountFormRequest.password" type="password"  />
                </a-form-item>

                <a-form-item label="Confirm Password" name="password_confirmation" :rules="confirmPasswordRules">
                  <a-input-password v-model:value="registerAccountFormRequest.password_confirmation" type="password" />
                </a-form-item>
                <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
                  <a-button type="primary" html-type="submit" :loading="registerAccountFormRequestLoading" :disabled="loading"
                    @click="submit">Submit</a-button>
                </a-form-item>
              </a-form>
            </a-card>
   
      </div>
    </div>
  </AuthLayout>
</template>

<script setup>

import { ref} from 'vue';
import { storeToRefs } from 'pinia'
// import { message } from 'ant-design-vue';
import AuthLayout from "../layouts/AuthLayout.vue";
import { useRouter } from 'vue-router';
import { systemMessages } from '@/constants';
import { useAccountStore } from "@/stores/accountStore";


//Data *******************************************//
const cardHeadStyle =ref({
        borderRadius: '50px',    
        color: '#fff',
        'background-color':'#22252a',
        border:"1px",
      })

//Instantiate first the store
const accountStore = useAccountStore()

//Then you can destructure using storeToRefs to expose its 
//properties and able to use it in the components.
const { registerAccountFormRequest, registerAccountFormRequestLoading } = storeToRefs(accountStore);

//you can destructure its functions without using storeToRefs
//and use it in the components.
const { registerAccount } = accountStore;

const countryOptionList = ref([
  {value: 236,
   label: 'United States of America'
  },
  {value: 176,
   label: 'Philippines'
  },
])
const app_name = ref(import.meta.env.VITE_APP_NAME)

//instance objects  *****************************//
const systemMessage = systemMessages;

//Methods  **************************************//
const onFinish = (values) => {
  console.log('Success:', values);
  registerAccount()
};

const onFinishFailed = ({ errorFields }) => {
  //console.log(errorFields)   
  if (errorFields.length > 0) {
       //get the very first error field
        const errorField = errorFields[0].name;
       //instantiate that field as html element
        const errorElement = document.getElementById(`${errorField}`);       
       
        //scroll to that element
       if (errorElement) {
          errorElement.scrollIntoView({
            behavior: 'smooth',
            block: 'start',
          });
          errorElement.focus();
        }
      }
      
};

let validateConfirmPassword = async (_rule, value) => {  
  if (value !== registerAccountFormRequest.value['password']) {
    return Promise.reject("Password and Confirm password do not matcth.");
  } else {
    return Promise.resolve();
  }
};

const passwordRules = ref([
  { required: true, message: 'Please enter a password' },
  { min: 8, message: 'Password must be at least 8 characters long.' },
]);

const confirmPasswordRules = ref([
  { required: true, message: 'Please confirm your password.' },
  { validator: validateConfirmPassword, trigger: 'change' },
]);

</script>

<style scoped>
.login-form #child2 .ant-card-body {
  display: table-cell;
  vertical-align: middle;
}
</style>

<style scoped>
.login-container {
  /* background: #f6f5f5;  */
  padding: 30px;
  max-width: 700px;
  width: 100%;
}

#parent {
  display: flex;
  align-items: top;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 1000px;
}

#child {
  /* height: 45vh; */
  position: relative;
  background: white;
  padding: 2rem;
  color: black;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  width: 100%;
}

#child2 {
  /* height: 45vh; */
  position: relative;
  background: rgb(41, 41, 44);
  width: 100%;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  display: table;
}

#child2 :deep(.ant-card-body) {
  padding: 15px;
}

h1 {
  color: white;
  margin: 0;
}

:deep(.ant-card-head-title) {
  font-size: 24px;
}

.register-btn {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}

@media screen and (max-width: 300px) {
  :deep(.ant-row) {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 959px) {
  #parent {
    height: auto;
    max-width: 500px;
    margin: 25px auto;
    width: 100%;
  }

  .w-100 {
    width: 100%;
  }

  #child2 {
    width: 100%;
  }

  #child {
    padding: 1rem;
  }
}
</style>