<template>
  <MainLayout defaultKey="1" pageTitle="Tasks">
    <DataTable />
  </MainLayout>
</template>


<script setup>

// import { message } from 'ant-design-vue';
import MainLayout from "../layouts/MainLayout.vue";
import DataTable from "../components/tasks/DataTable.vue";
</script>