<template>
  <MainLayout defaultKey="2" pageTitle="Users">
    <DataTable />
  </MainLayout>
</template>


<script setup>

// import { message } from 'ant-design-vue';
import MainLayout from "../layouts/MainLayout.vue";
import DataTable from "../components/users/DataTable.vue";
</script>