@import "./base.css";

::selection {
  color: #fff;
  background: #0369a7;
}
.ant-btn-primary {
  border-color: #0871c7;
  background: #0369a7;
}
.ant-layout-sider {
  background: #22252a;
}
.ant-menu.ant-menu-dark, 
.ant-menu-dark .ant-menu-sub, 
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: #22252a;
}
.ant-menu-dark .ant-menu-item, 
.ant-menu-dark .ant-menu-item-group-title, 
.ant-menu-dark .ant-menu-item > a, 
.ant-menu-dark .ant-menu-item > span > a {
  color: #ffffff;
}
.ant-menu.ant-menu-dark, 
.ant-menu-dark .ant-menu-sub, 
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: #ffffff;
}
.ant-modal-close {
  color: #ffffff;
}
.ant-modal-header {
  background: #22252a;
}
.ant-modal-title {
  color: #fff;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
  border-color: #0871c7;
  background: #1992f6;
}
.ant-card-head {
  background: #49484b;
  color: #ffffff;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #46556c;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #46556c;
}
.ant-table-column-title {
  font-weight: 500;
}
.ant-table-column-sorters {
  cursor: pointer;
}
.ant-table-column-sorter {
  z-index: 300;
}
.ant-table-cell-fix-sticky {
  z-index: 305;
}

input[type="date"] {
  font-size: 14px;
  padding: 3px 10px;
  border: 1px solid #d9d9d9;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
input[type="date"]:focus {
  outline: 1px solid #1890ff;
}

/* Start of margins */
.mt-1 {
  margin-top: 0.25rem!important;
}
.mt-2 {
  margin-top: 0.5rem!important;
}
.mt-3 {
  margin-top: 1rem!important;
}
.mt-4 {
  margin-top: 1.5rem!important;
}
.mt-5 {
  margin-top: 1.5rem!important;
}

.mb-0 {
  margin-bottom: 0!important;
}
.mb-1 {
  margin-bottom: 0.25rem!important;
}
.mb-2 {
  margin-bottom: 0.5rem!important;
}
.mb-3 {
  margin-bottom: 1rem!important;
}
.mb-4 {
  margin-bottom: 1.5rem!important;
}
.mb-5 {
  margin-bottom: 1.5rem!important;
}

.mr-1 {
  margin-right: 0.25rem!important;
}
.mr-2 {
  margin-right: 0.5rem!important;
}

.ml-1 {
  margin-left: 0.25rem!important;
}
.ml-2 {
  margin-left: 0.5rem!important;
}
/* End of margins */

/* Start of paddings */
.p-0 {
  padding: 0px;
}
.p-1 {
  padding: 0.25rem!important;
}
.p-2 {
  padding: 0.5rem!important;
}
.p-3 {
  padding: 1rem!important;
}
.p-4 {
  padding: 1.5rem!important;
}
.p-5 {
  padding: 1.5rem!important;
}

.pr-0 {
  padding-right: 0rem!important;
}
/* End of paddings */

/* Start of widths */
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
/* End of widths */

/* Start of lists */
.lst-none {
  list-style-type: none;
}
/* End of lists */

/* Start of displays */
.d-none {
  display: none!important;
}
.d-inline-block {
  display: inline-block;
}
.d-inline-flex {
  display: inline-flex;
}
.d-flex {
  display: flex;
}
/* End of displays */

/* Start of texts */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-center .ant-input-number-input {
  text-align: center!important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-black {
  color: black;
}
/* End of texts */

/* Start of floats */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* End of floats */

/* Start of font weights */
.fw-bold {
  font-weight: bold;
}
/* End of font weights */

/* Start of icons */
.icon-edit {
  font-size: large;
  color: #0e0e0e;
  padding-right: 10px
}
.icon-delete {
  font-size:large;
  color: red;  
  padding-right: 10px
}
.icon-stop {
  font-size: large;
  color: grey;
  padding-right: 10px;
}
/* End of icons */

/* Start of pointers */
.clickable {
  cursor: pointer;
}
/* End of pointers */

/* Start of colors */
.color-FF2C2C {
  color: #FF2C2C;
}

.bg-1890ffd9 {
  background: #1890ffd9;
}
.bg-ffc107d9 {
  background: #ffc107d9;
}
.bg-ff2c2cd9 {
  background: #ff2c2cd9;
}
/* End of colors */

.note {
  font-size: 12px;
}

.pagination-list p {
  margin: 0;
}


@media screen and (max-width: 767px) {
  h1 {
    padding: 10px !important;
  }
}

/* custom CSS by Burt */
.single-input-selection{
  width: 100%;
  border-radius: 3px;
  font-size: 12px;
}

.ant-pagination-item-link{
  min-width:30px;min-height: 32px; 
  cursor: pointer;
}
