<template>
    <div class="view-container"> <!-- START List Container -->
        <a-tabs v-model:activeKey="activeKey">
        <a-tab-pane key="1">
            <template #tab>
            <span>
                <apple-outlined />
                User Information
            </span>
            </template>
            <UserInformation />
        </a-tab-pane>
        <a-tab-pane key="2">
            <template #tab>
            <span>
                <android-outlined />
                Change Password
            </span>
            </template>
            <ChagePassword />
        </a-tab-pane>
        </a-tabs>
    </div> <!-- END List Container -->
</template>

  <script setup>
  import { AppleOutlined, AndroidOutlined } from '@ant-design/icons-vue';
  import ChagePassword from "../userprofile/ChagePassword.vue";
  import UserInformation from "../userprofile/UserInformation.vue";
  </script>