<template>
  <div class="auth-layout">
    <slot />
  </div>
</template>

<style scoped>

.auth-layout {
   /* background-color: #f0f0f0; /* Replace with your desired background color */
    background-image: url('../assets/images/auth-background.jpg'); /* Replace with your desired background image path */
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>