<template>
  <a-layout class="main-layout">
    <a-layout-sider v-model:collapsed="envStore.sideBarMenu.collapsed" :trigger="null" collapsedWidth="0" collapsible>
      <div class="logo">
        {{ envStore.sideBarMenu.logoUrl }}
      </div>
      <a-menu v-model:selectedKeys="selectedKeys" v-model:openKeys="openKeys" class="admin-side-menu" theme="dark"
        mode="inline">      

        <a-menu-item key="1">
          <RouterLink to="/tasks">
            <shopping-outlined />
            <span>Tasks</span>
          </RouterLink>
        </a-menu-item>

        <a-menu-item key="2">
          <RouterLink to="/users">
            <read-outlined />
            <span>Users</span>
          </RouterLink>
        </a-menu-item>
      
       
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #fff; padding: 0">
        <menu-unfold-outlined v-if="envStore.sideBarMenu.collapsed" class="trigger" @click="toggleSidebar()" />
        <menu-fold-outlined v-else class="trigger" @click="toggleSidebar()" />
        <div class="left-nav">
          <span>{{ pageTitle }}</span>
        </div>
        <div class="user-right">
          

          <a-dropdown :trigger="['click']">
            <a-avatar src="https://api-posims.bigburt.com/images/user-icon.png" class="user-avatar"
              @click.prevent />
            <template #overlay>
              <a-menu>
                <a-menu-item>
                  <RouterLink to="/profile">
                    <user-outlined />
                    <span class="m-left">Profile</span>
                  </RouterLink>
                </a-menu-item>
                <a-menu-item>
                  <RouterLink to="/logout">
                    <!-- <a class="clickable" @click="logout"> -->
                    <logout-outlined />
                    <span class="m-left">Log Out</span>
                    <!-- </a> -->
                  </RouterLink>
                </a-menu-item>
              </a-menu>
            </template>
          </a-dropdown>

        </div>
      </a-layout-header>
      <!-- Breadcrumb -->
      <!-- <a-breadcrumb>
        <a-breadcrumb-item>Home</a-breadcrumb-item>
        <a-breadcrumb-item>{{ $route.name }}</a-breadcrumb-item>
      </a-breadcrumb> -->
      <a-layout-content :style="{
        margin: '0px 0px',
        padding: '0',
        background: '#ffffff',
        minHeight: '280px',
      }">
        <!-- show content here-->
        <slot />
      </a-layout-content>
    </a-layout>
  </a-layout>

  <div>
    <a-back-top/>
  </div>
</template>

<script setup>

import { ref, onMounted } from "vue";
import { useEnvStore } from "@/stores/envStore";
import {
  ShoppingCartOutlined,
  HomeOutlined,
  SmileOutlined,
  RobotOutlined,
  ShoppingOutlined,
  SettingOutlined,
  LineChartOutlined,
  FileTextOutlined,
  AuditOutlined,
  ProfileOutlined,
  SwapOutlined,
  BarChartOutlined,
  ReadOutlined,
  UserOutlined,
  MenuUnfoldOutlined,
  MenuFoldOutlined,
  DashboardOutlined,
  UserAddOutlined,
  UsergroupAddOutlined,
  AppstoreAddOutlined,
  BellOutlined,
  IdcardOutlined,
  LogoutOutlined,
  ArrowUpOutlined,
} from "@ant-design/icons-vue";
import { screenSize } from '@/constants';
import './../assets/main.css'

//Get props
const props = defineProps({
  defaultKey: String,
  preOpenKey: String,
  pageTitle: String,
});

//initialize objects used
const selectedKeys = ref([props.defaultKey])
const openKeys = ref([props.preOpenKey])
const pageTitle = ref(props.pageTitle)
const envStore = useEnvStore()

//computed 


//methods
const toggleSidebar = () => {
  envStore.sideBarMenu.collapsed = !envStore.sideBarMenu.collapsed
}

onMounted(() => {
  //check that if the current window size <768 then 
  //that means the device is probably a mobile so 
  //set the collapsed to automatically true.
  if (window.innerWidth < screenSize.mobile) {
    envStore.sideBarMenu.collapsed = true
  }
})

</script>

<style scoped>
/* #components-back-top-demo-custom .ant-back-top {
  bottom: 30px;
  right: 0px;
} */

.main-layout {
  min-height: 100vh;
}

.ant-breadcrumb {
  padding: 20px;
  background: #ffffff;
  border-top: 1px solid #f2f2f2;
  display: none;
}

.user-right {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  background: #d4d4d4;
}

.user-avatar:hover {
  cursor: pointer;
}

.ant-dropdown-link.bell {
  font-size: 25px;
  color: #333333;
  margin-right: 10px;
}

.anticon-menu-fold,
.anticon-menu-unfold {
  font-size: 22px;
  margin-left: 20px;
}

.left-nav {
  position: absolute;
  top: 0;
  left: 60px;
  display: flex;
  height: 100%;
  align-items: center;
  background-color: white;
  width: 200px;
  z-index: 1000;
}

.left-nav a {
  color: #333333;
  font-weight: 700;
  font-size: 18px;
}

.left-nav span {
  color: #333333;
  font-weight: 700;
  font-size: 24px;
}

.logo {
  color: #fff;
  text-align: center;
  padding: 10px;
  background: #22252a;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
}

.m-left {
  margin-left: 10px;
}

.ant-menu-title-content>a {
  display: block;
  padding-left: 24px;
  padding-right: 24px;
}

.ant-menu.ant-menu-inline-collapsed>.ant-menu-item>.ant-menu-title-content>a {
  padding: 0 calc(50% - 16px / 2);
}

.admin-side-menu> :deep(.ant-menu-item) {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

:deep(.ant-layout-sider-children) {
    height: 100%;
    margin-top: -0.1px;
    padding-top: 0.1px;
    background-color: #22252a;
}


:where(.css-dev-only-do-not-override-hkh161).ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background: #22252a;
}

</style>

